body{
	background-color: grey;
}

@keyframes slidein{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

#yinyang{
		width: 200px;
		height: 200px;
		border-radius: 50%;
		background: linear-gradient(to bottom, #ffffff 0%,#ffffff 50%,#000000 50%,#000000 100%); 
		position: relative;
		margin: auto;
		animation-name: slidein;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
}

#yinyang::before {
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	background: white;
	left: 0px;
	top: 50px;
	border: 40px solid black;
}

#yinyang::after{
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	background-color: black;
	right: 0px;
	top: 50px;
	border: 40px solid white;
}

p{
	color: white;
	text-align: center;
}